<div>
    <!-- navbar -->
    <nav style="width: auto;">
        navbar
    </nav>
    <div style="display: flex; flex-direction: row;">
        <!-- sidebar -->
        <div style="flex-shrink: 1;" >
            <ul>
                <li><a routerLink="">data bindig</a></li>
                <li><a routerLink="directive">directive</a></li>
                <li><a routerLink="data-transfer">data transfer</a></li>
                <li><a routerLink="view-encapsulation">view encapsulation</a></li>
                <li>
                    <div (click)="formClicked()" >form</div>
                    <ng-container *ngIf="isformClick">
                        <ul>
                            <li><a routerLink="form/template-driven-form">template driven form</a></li>
                            <li><a routerLink="form/reactive-form">reactive form</a></li>
                        </ul>
                    </ng-container>
                </li>
                <li>
                    <div (click)="rxjsClicked()" >rxjs</div>
                    <ng-container *ngIf="isRxjsClick">
                        <ul>
                            <div (click)="rxjsTransformationClicked()" >Transformation operator</div>
                            <ng-container *ngIf="isRxjsTransformationClick">
                                <ul>
                                    <li><a routerLink="rxjs/transformation/map">map</a></li>
                                    <li><a routerLink="rxjs/transformation/scan">scan</a></li>
                                    <li><a routerLink="rxjs/transformation/buffer">buffer</a></li>
                                    <li><a routerLink="rxjs/transformation/flatten-map">flatten map</a></li>
                                </ul>
                            </ng-container>
                        </ul>
                        <ul>
                            <li><a routerLink="rxjs/creational">creational</a></li>
                        </ul>
                        <ul>
                            <div (click)="rxjsCombinationalClicked()" >Combinational operator</div>
                            <ng-container *ngIf="isRxjsCombinationalClick">
                                <ul>
                                    <li><a routerLink="rxjs/conbinational/merge-concat">merge - concat</a></li>
                                    <li><a routerLink="rxjs/conbinational/combine-result">combine result</a></li>
                                </ul>
                            </ng-container>
                        </ul>
                    </ng-container>
                </li>
                <li><a routerLink="service-data-tranfer">data transfer with any component</a></li>
            </ul>
        </div>
        <!-- chid component window -->
        <div style="flex-grow: 1;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>